<div class="text-center spinner-position" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="background" *ngIf="!loading">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container bg-color mt-5">
        <div class="h1 font-weight-bold  text-center font-green3 mt-5 pt-5 mb-5">Détails du Produit</div>
        <div class="container " *ngIf="product">
            <div class="h6 mt-md-5 mb-4 d-flex">
                <p routerLink="/product-list" class="cursor-pointer"> Produits &nbsp; </p> > {{product[0].name}}
            </div>
            <app-carrousel [product]="product[0]"></app-carrousel>
            <div class="mt-5 pt-5">
                <ul ngbNav [(activeId)]="active" #nav="ngbNav" class="nav-tabs">

                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="font-weight-bold text-secondary text-uppercase">Description</a>
                        <ng-template ngbNavContent>
                            <div class="d-inline-block ml-5">
                                <div class="h6 font-weight-bold mt-5"> {{product[0].name}}</div>

                                <div class="mt-4 mb-5 ml-3">
                                    <p>{{product[0].description}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div><br>
    <div class="container pb-5">
        <div class="h3 font-weight-bolder brown text-center pt-2 pb-4">Nos Produits</div>
        <app-product-carousel></app-product-carousel>
        <div class="d-flex justify-content-end  mt-4 " routerLink="/product-list">
            <div class="mr-4 h5">></div>
            <div class="mr-4 h5"> <u class="cursor-pointer"> Voir tous les produits </u> </div>
        </div>
    </div>
    <app-slogan></app-slogan>
</div>