<div class="row">
    <div class="col-12 col-md-4 p-0">
        <img [src]="images[0]" width="100%" height="100%" class="img-height">
        <div class="caption post-content">
            <button class="btn small-txt rounded-pill text-drack-color btn-naturex pl-3 pr-3" routerLink="/monirex">
                DECOUVRIR
            </button>
        </div>
    </div>
    <div class="col-12 col-md-4 p-0">
        <img [src]="images[1]" width="100%" height="100%" class="img-height">
        <div class="caption post-content">
            <button class="btn small-txt rounded-pill text-drack-color btn-naturex pl-3 pr-3" routerLink="/naturex">
                DECOUVRIR
            </button>
        </div>
    </div>
    <div class="col-12 col-md-4 p-0">
        <img [src]="images[2]" width="100%" height="100%" class="img-height">
        <div class="caption post-content">
            <button class="btn small-txt rounded-pill text-drack-color btn-naturex pl-3 pr-3" routerLink="/promo">
                DECOUVRIR
            </button>
        </div>
    </div>
</div>