<div class="background bg-light-color">
    <div class="container mt-md-5 mb-5">
        <div class="col-12 text-center ml-2 pt-md-5 pt-3 ">
            <div class="h1 font-weight-bold  text-center font-green3 mt-5 mb-5">Nos Promos</div>
            <div class="h5 mt-5 mb-5 text-center ml-lg-5 pt-5">Découvrez nos <b class="font-green3">offres promotionnelles</b>  juste pour vous faire plaisir <br> et pour vous prendre soin de votre beauté.</div><br>
            <img src="https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630054746/topPromo_uujb0o.png" alt="" width="90%" height="auto" class="shadow-lg p-3 mb-5 bg-white ">
        </div>
    </div>
</div>
<app-slogan></app-slogan>
