<div class="h1">Related News</div>
<div class="row pt-4">
    <div class="col-4"> <img class="pt-2" width="100%" src="assets/blog_1_1200x.jpg">
        <div class="pt-3">
            <strong>Lorem ipsum dolor sit amet viverra</strong>
            <p><small>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                    ...
                </small></p>
        </div>
    </div>
    <div class="col-4"> <img class="pt-2" width="100%" src="assets/blog_4_800x800.jpg">
        <div class="pt-3">
            <strong>Lorem ipsum dolor sit amet viverra</strong>
            <p><small>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                    ...
                </small></p>
        </div>
    </div>
    <div class="col-4"> <img class="pt-2" width="100%" src="assets/blog_1_1200x.jpg">
        <div class="pt-3">
            <strong>Lorem ipsum dolor sit amet viverra</strong>
            <p><small>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                    ...
                </small></p>
        </div>
    </div>
</div>