<div class="background bg-light-color">
    <div class="container mt-5 mb-5">
        <div class="col-12 text-center ml-2 pt-2 pb-5  pt-lg-5">
            <div class="h1 font-weight-bold  text-center font-green3 mt-5 mb-5"> Gamme Monirex</div>
            <div class="h5  text-left pt-5 ml-lg-4">La  gamme  <b class="brown">Monirex</b>  comporte: </div><br>
            <div class="h5  text-left ml-lg-4"><b class="brown">Un traitement capillaire</b>   repousse pour les cheveux  qui hydrate, régénère prévient et ralentit la chute des cheveux . </div><br>
            <div class="h5  text-left ml-lg-4">A base de  huile de ricin, huile d'amande douce, huile de <b class="font-green3">pépin</b> pépin de <b class="font-green3">raisin</b>, vitamine <br> E et extraits de feuilles de Moringa. </div><br>
            <div class="h5  text-left ml-lg-4"><b class="brown"> Un traitement miracle</b> <b class="font-green3"> All in one</b> aux extraits de feuilles de  <b class="font-green3">Moringa</b>, pour des cheveux lisses, brillants et sains .</div><br>
            <div class="h5  text-left ml-lg-4"><b class="brown"> vitamine E : </b> anti oxydant,  anti-âge et  antirides qui  protège votre peau du vieillissement.</div><br>
            <div class="h5  text-left ml-lg-4"> Il est en effet un excellent allié contre les rides. </div><br>
        </div>

    </div>

</div>
<app-slogan></app-slogan>


