<div class="background bg-light-color pb-5">
    <div class="container mt-5 pb-5 pt-lg-4">
        <div class="col-12 text-center pt-5 pb-5 ml-xl-5">
            <div class="h1 font-weight-bold  text-center font-green3 mt-5 mb-5"> Gamme Naturex</div>
            <div class="h5  text-left pt-5">La  gamme de soins Bébé <b class="brown">Naturex</b>  comporte: </div><br>
            <div class="h5  text-left"> <b class="brown">Eau de Toilette :</b>  Parfume délicatement le bébé et lui met en toute beauté. </div><br>
            <div class="h5  text-left"> <b class="brown">Shampoing :</b>  Nettoie en douceur les cheveux délicats et la peau sensible des nourrissons et des bébés.</div><br>
            <div class="h5  text-left"> <b class="brown">Crème  hydratante:</b>  Apaise la peau et apporte une sensation de douceur et fraicheur qui dure toute la journée.</div><br>
            <div class="h5  text-left"> <b class="brown">Crème  de change :</b>  Prévient, apaise et répare la peau de bébé des irritations et des rougeurs causés par le siège . </div><br>
        </div>
        <br><br><br>

    </div>
</div>
<app-slogan></app-slogan>



